.fieldGroup{
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: flex-start;
  // z-index: $z2;
  flex-wrap: wrap;
  width: 100%;
  max-width: $field-wrap-width *2;
  margin: 0 auto;
  @include breakpoint(medium){
    flex-wrap: nowrap;
  };
}
@media screen and (min-width: 700px ) {
  .fieldGroup{
    flex-wrap: nowrap;
  }
}
.fieldGroup > .field-wrap{
  margin-right: 1px;
  margin-left: 1px;
}
.fieldGroup > .field-wrap:last-of-type{
  margin-right: 0;
  margin-bottom: 0;
}
.fieldGroup > .field-wrap:first-of-type{
  margin-left: 0;
}
.fieldGroup:last-child{
}
.fieldGroup .field-wrap{
  
}

.fieldGroup.fieldGroup--uncollapsed{
  margin-bottom: 30px;
}
.fieldGroup.fieldGroup--expanded{
  max-width: 100%;
}
