.draftField{
  position: relative;
  z-index: $z2;
  background: $field-background;
  margin: 0 auto;
}
.draftField:focus{
  cursor: vertical-text;
  outline: none;
}
.draftField-toolbar{
  // background: $color-tint-3;
  padding: 15px 15px 5px 15px;
  text-align: right;
  // height: 60px;
}
.draft-tool-group{
  display: inline;
  margin-right: 7.5px;
}
.draftField .field-label {
  transform: translateY(60px);
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}
.draftField-content{
  padding: 15px;
  position: relative;
  min-height: 180px;

}
.draftField .toolbar-button{
  display: inline-block;
  padding: 7.5px;
  color: $field-text-color--disabled;
  border-radius: $edge-radius;
  margin-right: 7.5px;
  font-size: $field-label-size;
  transition: all 0.25s ease-in-out;
}
.draftField .toolbar-button:last-child{
  margin-right: 0;
}
.draftField .toolbar-button:hover{
  cursor: pointer;
  color: $field-text-color;
}
.draftField .toolbar-button--active{
  color: $field-text-color;
}
