.radio-field, .radio-label, .check-field, .check-label{
  color: $field-text-color;
}
.select-group{
  font-family: $font-family;
  border: none;
  box-sizing: border-box;
  width: 100%;
  max-width: $field-wrap-width;
  color: $field-text-color;
  padding-top: 16px;
  padding-bottom: 8px;
}
.select-group::after{
    display: block;
    content: ' ';
    background: $field-underline-color;
    height: 1px;
    margin-top: 7px;
}
.select-group:last-of-type::after{
    display: none;
}
.select-label{
  font-weight: 700;
  color: $field-label-color;
  font-size: $field-label-size--focus;
  margin-bottom: 0;
}
.select-field{
  // float: left;
  // padding-bottom: 8px;
  padding-top: 8px;
}
.select-caret{
  float: right;
}
.checker{
  font-size: $field-label-size;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  // width: 24px;
  // height: 24px;
  color: $color-white;
  margin-right: 7.5px;
}
.checker-box{
  text-align: center;
  background-color: $color-mid-gray;
  border-radius: 4px;
  padding: 5px;
  border: 1px solid $color-mid-gray;
}
.checker-sphere{
  // top: 6px;
  background-color: $color-white;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid $color-mid-gray;
}
.checker:hover{
  cursor: pointer;
}
.checker-checked{
  background: $color-secondary-2;
  background-clip: padding-box;
  border: 1px solid $color-secondary-0;
  color: $color-white;
}
.checker-disabled{
  color: $color-mid-gray;
}
.select-option{
  display: flex;
  align-items: center;
  color: $color-dark-gray;
  margin-right: 30px;
  margin-bottom: 15px;
  min-width: 160px;
  text-align: left;
  font-size: $font-size-down-1;
}
.select-option:hover{
  cursor: pointer;
}
.select-option-checked{
  font-weight: $global-weight-bold;
  // color: $color-primary-0;
}
.select-option-disabled{
  color: $color-mid-gray;
}
.select-button{
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid $color-tint-0;
  border-radius: $edge-radius;
  color: $field-label-color;
  padding: 7.5px 15px;
  margin-right: 15px;
  font-size: $font-size-down-1;
  // margin-left: 7.5px;
  margin-bottom: 15px;
  transition: opacity 0.2s ease-in-out;
}
.select-button:hover{
  opacity: 0.6;
  cursor: pointer;
}
.select-button-checked{
  background-color: $color-secondary-0;
  color: $color-white;
}
.select-button-disabled{
  color: $color-mid-gray;
}
.select-list-item{
  display: flex;
  box-sizing: border-box;
  font-size: $font-size-down-1;
  // font-weight: 700;
  border-top: 2px solid $color-tint-1;
  padding: 18px 0;
  transition: all 0.25s ease-in-out;
}
.select-list-item:last-child{
  border-bottom: none;
}
.select-list-item:hover{
  color: $color-primary-3;
  cursor: pointer;
}
.select-list-item-checked{
  color: $color-primary-0;
}
.select-list-item-disabled{
  color: $color-mid-gray;
}
.select-list-item-checker{
  display: flex;
}
.select-list-item-content{
  flex: 1;
}
