.field-wrap{
    font-family: $font-family;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    max-width: $field-wrap-width;
    display: inline-block;
    z-index: $field-wrap-elevation;
}
.field-wrap::after{
    content: '';
    width: 100%;
    display: block;
    background: $field-underline-color--active;
    height: 2px;
    transform: rotateY(90deg);
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
    z-index: $field-wrap-elevation;
}
.field-wrap:focus-within::after{
    transform: rotateY(0deg);
}
.field-wrap.field--uncollapse{
    margin-bottom: 30px;
}
.field-wrap.field--expand{
    max-width: 100%;
}
// .field-wrap:last-of-type{
//     margin-bottom: 30px;
// }
.field-input{
    box-sizing: border-box;
    width: 100%;
    color: $field-text-color;
    padding: 28px 15px 15px 15px;
    background-color: $field-background;
    border: none;
    box-shadow: none;
    display: block;
    font-size: $field-text-size;
    resize: none;
    margin:0;
    z-index: $field-text-elevation;
}
.field-input:focus{
    background: $field-background--focus;
    outline: none;
    border: none;
    box-shadow: none;
}
.field-input:disabled{
    background: $field-background--disabled;
    color: $field-text-color--disabled;
}
.field-label {
    color: $field-label-color;
    position: absolute;
    left: 15px;
    top: 0;
    font-size: $field-label-size;
    line-height: 1;
    pointer-events: none;
    z-index: $field-label-elevation;
    transform: translateY(23px);
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}
.field-input:focus ~ .field-label,
.field--dirty .field-label,
.field--focus .field-label,
.field--error .field-label{
    font-size: $field-label-size--focus;
    transform: translateY(13px);
}
.field-input:focus ~ .field-label{
    color: $field-label-color--focus;
}
.field--dirty .field-label{
    color: $field-label-color--dirty;
}
.field--error .field-label{
    color: $field-label-color--error;
}
.field-input:disabled ~ .field-label{
    color: $field-label-color--disabled;
}